log/
Edfmap.ini
*.wsp
*.wsf
*.log
*.erf
*.sth
*.cmd
compile/
synthesis/
*.set

# compilation.order
# synthesis.order

projlib.cfg
library.cfg
*.lib
*.mgf

# Uncomment to ignore simulation results
#*.awc
#*.asdb

wave.asdbw/
polyphase_clock_sync/src/TestBench/*.txt
polyphase_clock_sync/src/wave.asdb
